---
const { title, description, link } = Astro.props;
---

<div
	class="bg-gray-800 rounded-xl shadow-lg p-6 hover:bg-gray-700 transition duration-300 flex flex-col justify-between h-full"
>
	<div>
		<h4 class="text-xl font-semibold text-white mb-2">{title}</h4>
		<p class="text-gray-300 text-sm">{description}</p>
	</div>
	<a
		href={link}
		target="_blank"
		class="mt-4 inline-block text-sm text-blue-400 hover:text-blue-300 transition"
	>
		Ver proyecto →
	</a>
</div>
