---
const { href = "#", children } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-2 px-4 py-2 bg-gray-800 hover:bg-gray-700 rounded-lg text-white transition duration-300 shadow hover:shadow-md"
>
    {children}
</a>
